<ul class="nav nav-pills">
  <li role="presentation"><%= link_to "DashBoard", admin_dashboard_path, class: 'btn btn-default' %></a></li>
  <li role="presentation"><%= link_to "Users", admin_dashboard_path, class: 'btn btn-default' %></a></li>
  <li role="presentation"><%= link_to "Stories", admin_dashboard_path, class: 'btn btn-default' %></a></li>
</ul>
<hr>