<h1>Admin#dashboard</h1>
<p>Find me in app/views/admin/dashboard.html.erb</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-users" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Recepients</h4>
                            <p style="font-size: 12px;">Everything about Recepients</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                View</button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-pencil-square-o" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Donors</h4>
                            <p style="font-size: 12px;">Donor Administration and verification</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                View</button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-pencil-square-o" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Stories</h4>
                            <p style="font-size: 12px;">Recepient Stories, also found in Ecepients</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                View</button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
              <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-pencil-square-o" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Settings</h4>
                            <p style="font-size: 12px;">General settings</p>
                            <button class="btn btn-primary btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                View</button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
