<%= render 'menu'%>

<%if @recepient.present?%>
<h4>Welcome back <%= @recepient.user.full_name%></h4>


<%else %>
<center><h2>You have not completed your profile</h2></center>
<h4>Please start by filling in your profile information to start posting stories</h4>

<%= link_to "Complete Profile", new_recepient_path, class: 'btn btn-lg btn-default' %>


<%end %>