<%= render 'layouts/approval'%>

<%= render 'recepients/menu'%>

<%- model_class = Recepient -%>
<div class="page-header">
  <center><h3>Edit my profile </h3></center>
</div>
<%= render :partial => 'form' %>
