
<%= render 'layouts/carousel'%>
<div class="child" style="display: inline-table; background-color: #eeeeee; color:#333; font-color: 15px;">
 
<hr>
<div class ="container"> 
  <div class = "row intro">
    <center><h2> As easy as 1-2-3</h2></center>
    <p > Charity is the act of helping the needy by providing them with sources that can be useful for them. Charity is one of the most generous acts. The greatest thing about charity is that it doesn’t always need to be big. But it is one of the toughest tasks to do. Cyc is an open-source project free for contribution and is constantly looking for well-wishers willing to fronteer this mission.</p>

    <p>We have broken it down for you here. You can be sure that your money is going to the person you intended it for.</p>
    <p>Please note that no finances or physical goods go to CyC directly. CyC publishes stories and the donor/wellwisher chooses to contact the owner directly at their own judgement.</p>
  </div>
<hr>

  <div class="row" style="text-align: center;">
    <div class="card04 col-md-4" >
    <div class="panel panel-info" style="padding: 10px;">
    <i class="fa fa-check icon-lg grey"></i>
      <h3>Choose your Cause</h3>
      <p>Choose a cause that you are passionate about, be it child education, war widows, natural disaster survivers.</p>
      <p><a class="btn btn-xs btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-md-4 -->
    </div>
    <div class="card04 col-md-4">
    <div class="panel panel-info" style="padding: 10px;">

    <i class="fa fa-certificate icon-lg blue"></i>

      <h3>Choose Beneficiary</h3>
      <p>Second step is to choose beneficiary for your intended donation. The people here in the list have been verified, their background, addresses and their needs have been verified.</p>
      <p><a class="btn btn-xs btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-md-4 -->
    </div>
    <div class="card04 col-md-4">
        <div class="panel panel-info" style="padding: 10px;">

        <i class="fa fa-credit-card icon-lg green"></i>

          <h3>Donate</h3>
          <p>Last step is to Donate directly to the recipients bank account and be sure that your money is being put to good use, making life just a bit easier for someone in distress. </p>
          <p><a class="btn btn-xs btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-md-4 -->
    </div>
 </div><!-- /.row -->
 <hr>

</div>

   
 
</div>  
