<h1>About Choose your Cause</h1>
<p>For most of us, there is usually a cause that we feel passionately about and want to do something in that area, like Child Education, Extreme Poverty, War Veterans/Widows, Forgotten Sportstars, Acid Victims, Farmers facing a hard time etc but our not sure how to go about it.</p>

<p>There are NGO's who claim to be doing work for these causes but after hearing and reading about frauds and scams all over  we are apprehensive of donating as we are not sure if our money will reach the right people or not. </p>

<p>This made me think that if we can have a platform where people in need are registered after verifying their background and stories and the prospective donors can come to the site, choose their cause and donate as per their capabilities or desire.</p>

<p>The Donors, if they want to later verify the status of the people they have donated to, can get in touch with the recipients of their kindness (Only if the recipient agrees to). This will also make them more involved with the cause</p>

<p> The site will have detailed information about the hardships, the people registered for help have gone through and how they plan to put the donated money to use towards becoming self reliant again as much as possible</p> 