/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require font-awesome
*/
/*Navbar*/

.navbar-custom{
    background-color: #21292d !important;
    opacity: 0.8;
    padding-top: 10px;
}

.navbar-custom a {
	font-weight: bold;
}

.navbar {
	margin-bottom: 0 !important;
}