.no-padding {
	padding: 0px !important;

}
.blue {
  color: #94cfe0 !important;
}
.yellow {
  color: yellow;
}
.grey {
  color: grey;
}
.white {
  color: #ffffff;
}
.green {
  color: green;
}
.red {
  color: red;
}
a:link { 
  color: #333;
}

.navbar-default .navbar-nav > li > a {
color: #555 !important;
}


.foot {

  position: fixed; bottom: 0;
  background-color: #b5c9d8 !important;
    opacity: 0.8;
    padding:10px;

}
.icon-lg {
  font-size: 100px !important;
}

.left-padding {
	padding-left: 10px !important;
}

.child {
  width: 100vw;/* <-- children as wide as the browser window (viewport) */
  margin-left: calc(-1 * ((100vw - 100%) / 2));/* align left edge to the left edge of the viewport */
  /* The above is basically saying to set the left margin to minus the width of the viewport MINUS the width of the parent, divided by two, so the left edge of the viewport */
  height: 50px;
}

/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
body {
    height: 100%;
}
hr.vertical
{
   width: 1px;
   height: 20px;
} 
ul.menu  li {
 border: 1px solid black; 
}
a{
  color: teal;
}
.card03 {
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 10px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-left: 70px !important;
    text-align: center;

}

.card02 {
  max-height: 190px;
  min-height: 150px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.card02>panel>panel-body>row>col-md-8> btn:a {
  color: #fff;
}
.card {
    box-shadow: 1px 1px 1px 1px grey;
    backgrund-color: yellow;
    border-radius: 10px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-left: 70px !important;
    text-align: center;

}
.mycarousel {
   position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    height: 50px;
    background: aliceblue;
}
.mycarousel img {
  width: auto;
  height: 425px;
  max-height: 425px;
}

.carousel,
.item,
.active {
    height: 80%;
}

.carousel-inner {
    height: 80%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;

}

.navbar-custom {
  background-color: #aacbe4;
  border-color: #91bcdc;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d1e3f0), to(#aacbe4));
  background-image: -webkit-linear-gradient(top, #d1e3f0, 0%, #aacbe4, 100%);
  background-image: -moz-linear-gradient(top, #d1e3f0 0%, #aacbe4 100%);
  background-image: linear-gradient(to bottom, #d1e3f0 0%, #aacbe4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1e3f0', endColorstr='#ffaacbe4', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #333333;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #1a1a1a;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #333333;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #91bcdc;
}
.navbar-custom .navbar-nav > li > a {
  color: #333333;
  border-left: 1px solid #91bcdc;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #242020;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #242020;
  background-color: #91bcdc;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#91bcdc), to(#b8d3e8));
  background-image: -webkit-linear-gradient(top, #91bcdc, 0%, #b8d3e8, 100%);
  background-image: -moz-linear-gradient(top, #91bcdc 0%, #b8d3e8 100%);
  background-image: linear-gradient(to bottom, #91bcdc 0%, #b8d3e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff91bcdc', endColorstr='#ffb8d3e8', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #8fbadb;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #242020;
  border-bottom-color: #242020;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #91bcdc;
  color: #242020;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #242020;
  border-bottom-color: #242020;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #242020;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #242020;
    background-color: #91bcdc;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #333333;
}
.navbar-custom .navbar-link:hover {
  color: #242020;
}

