
.jumbotron {
	padding-top: 20px;
}
img{
	max-width:100%;
	
}

.image_section {
	height: 50vh;
	/*border: 1px solid blue;*/
}


.image_123 {
		
}

.intro {
	/*border: 2px solid red;*/
	margin-bottom: 30px;
}

.img-small{
	border-radius: 85%;
	background-color: blue;

}

/*Carousel*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height:80vh;
      margin: auto;
  }

   .carousel-caption {
    top: 40%;
    bottom: auto;
    max-width: 100%;
   background-color: rgba(0,0,0,0.5);
    /*background-color: #d9edf7;*/
    padding-bottom: 0;
    padding-top: 0;
     
    	p{
    		margin-top: 0;
        font-size: 1.5em;
    	}

      h3{
       font-size: 3em; 
      }
}

.carousel-control:hover {
   background-color: rgba(245, 245, 245, 0);
}
