<div class="child foot text-center navbar-static">

  <div class="">

    <a href="#" target="_blank" class="btn inner-foot"> <i class="fa fa-info"></i> About Us</a>
      <!-- <a href="#" class="btn btn-link"><i class="fa fa-list fa-2x"></i> Projects</a> -->
      <a href="btn btn-link"></a>
      <a href="#" target="_blank" class="btn inner-foot"><i class="fa fa-mobile-phone"></i> Contact us</a>
      <a href="#" target="_blank" class="btn inner-foot"><i class="fa fa-info"></i> Give Feedback</a>
      <a href="https://github.com/jiimms/cyc" target="_blank" class="btn inner-foot"><i class="fa fa-github da-2x"></i>Github Contribution</a>

    </div>
  </div>