<div class="child foot text-center navbar-static">

  <div class="row">

    <a href="#" target="_blank" class="btn btn-link"> <i class="fa fa-star da-2x"></i> About</a>
      <!-- <a href="#" class="btn btn-link"><i class="fa fa-list fa-2x"></i> Projects</a> -->
      <a href="btn btn-link"></a>
      <a href="#" target="_blank" class="btn btn-link"><i class="fa fa-mobile-phone da-2x"></i> Contact CyC Admin</a>
      <a href="https://github.com/jiimms/cyc" target="_blank" class="btn btn-link"><i class="fa fa-github da-2x"></i><font color="white"> Github Contribution</font></a>

    </div>
  </div>