<div class="child foot text-center navbar-static">

  <div class="row">

    <a href="#" target="_blank" class="btn btn-link"> <i class="fa fa-star da-2x"></i> About</a>
      <a href="#" class="btn btn-link"><i class="fa fa-list fa-2x"></i> Projects</a>
      <a href="btn btn-link"></a>
      <a href="#" target="_blank" class="btn btn-link"><i class="fa fa-mobile-phone fa-2x"></i> Contact CyC Admin</a>
      <a href="#" target="_blank" class="btn btn-link"><i class="fa fa-github fa-2x"></i> Github Contribution</a>

    </div>
  </div>