<div class="container text-center navbar-static">

  <div class="row">

    <a href="https://github.com/bootcards/bootcards/archive/1.1.2.zip" target="_blank" class="btn btn-link">
      <i class="#"></i> About</a>
      <a href="#"><i class="fa fa-github fa-2x"></i> Projects</a>
      <a href="#" target="_blank" class="btn btn-link"><i class="fa fa-mobile-phone fa-2x"></i> Contact CyC Admin</a>
      <a href="#" target="_blank" class="btn btn-link"><i class="fa fa-twitter fa-2x"></i> Github Contribution</a>

    </div>
  </div>