<%if not current_user%>
<div class="alert alert-warning alert-dismissable page-alert"><button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
Please signup/login to see more details and to participate <%= link_to "Sign Up", signup_path, class: 'btn btn-warning'%> or <%= link_to "Login Up", login_path, class: 'btn btn-success'%> if you have an account.</div>

<%else%>

<%end%>