<div id="myCarousel" class="mycarousel carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("one.jpg")%>

      <div class="carousel-caption">
        <h3>Give.</h3>
        <p>Giving what you can to someone in need, is above and beyond.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("two.jpg")%>
      <div class="carousel-caption">
        <h3>Get in touch</h3>
        <p>Touch someone from a different culture and different geographical location today.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("three.jpg")%>
    
      <div class="carousel-caption">

        <h3>Someone's story</h3>
        <p>Contribute in writing and predicting someone's story.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("four.jpg")%>

      <div class="carousel-caption">

        <h3>Reach out</h3>
        <p>You can impact someone's life even by the words of your mouth.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>